<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="com.tron.model">

    <!--id唯一，并且与test用例中selectone的参数名相同-->
    <select id="loadCase"  resultType="com.tron.model.LoadTxInfoCase">
         select * from loadtxinfo where id=1;
    </select>
</mapper>